[submodule "dotvim/bundle/delmitmate"]
	path = dotvim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/Python-mode-klen"]
	path = dotvim/bundle/Python-mode-klen
	url = git://github.com/vim-scripts/Python-mode-klen.git
[submodule "dotvim/bundle/closetag"]
	path = dotvim/bundle/closetag
    url = git://github.com/docunext/closetag.vim.git
[submodule "dotvim/bundle/vim-git"]
    path = dotvim/bundle/vim-git
    url = git://github.com/tpope/vim-git.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/super-tab"]
	path = dotvim/bundle/super-tab
	url = git://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/pyflakes"]
	path = dotvim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "dotvim/bundle/python-imports"]
	path = dotvim/bundle/python-imports
	url = git://github.com/vim-scripts/python-imports.vim.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/vimwiki"]
	path = dotvim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "dotvim/bundle/vim-powerline"]
	path = dotvim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "dotvim/bundle/git-vim"]
	path = dotvim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
